NODE_ENV = development

POSTGRES_HOST = localhost
POSTGRES_USER = postgres
POSTGRES_PORT = 5432
POSTGRES_PASSWORD = untrained0
POSTGRES_DB = organize-simple

POPPLER_BIN_PATH = C:\Program Files (x86)\poppler-24.02.0\Library\bin

OPENAI_API_KEY = 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